
.CodeMirror {
    height: 100% !important;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}
.ReactCodeMirror {
    position: fixed;
    top: 199px;
    left: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
}

.post-view-container {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.markdown-preview {
    position: fixed;
    top: 199px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em;
}

.edit-button {
    float: right;
    text-decoration: none;
}

.post-title {
    font-size: 20px;
    border-style: none;
}
input:focus.post-title {
    outline: none !important;
}